@use './variables';

//RESETS

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: inline-block;
}

//---- GLOBAL CLASSES AND PROPERTIES

:root {
  font-family: "Muli", "Helvetica", "Arial", sans-serif;
  color: $body-text-color;
}

.xl-heading-size {
  @include font-sizing(24px, 500, normal, 28px);
}

.l-heading-size {
  @include font-sizing(20px, 600, 0.005em, 24px);
}

.m-heading-size {
  @include font-sizing(14px, 600, 0.005em, 16px);
}

.text-heading-size {
  @include font-sizing(12px, 600, normal, 24px);
  text-transform: uppercase;
}

.size-container {
  @media (min-width: 300px) {
    max-width: $mobile-max-width;
  }
  @media (min-width: 650px) {
    max-width: $tablet-max-width;
  }
  @media (min-width: 898px) {
    max-width: $desktop-max-width;
  }
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}
