@use './variables';

.header {
  max-height: 10vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $object-align;
}

.logo {
  margin: 0;
}

.form {
  height: fit-content;
}

.input {
  border-color: $mid-neutral-color;
  border-radius: $object-align;
  margin-right: $object-align;
  min-height: 28px;
}

.menu__button {
  border: 1px solid transparent;
  padding: calc($object-align / 2);
  margin-right: $object-align;
  border-radius: $object-align;
  background-color: $primary-actions-color;
  color: $background-color;
}
